<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="/img/favicon_144.png" itemprop="image">
        <title>ISMOA</title>
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon_144.png"> 
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_32.png"> 
        <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon_48.png">
        <link rel="icon" type="shortcut icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/home.min.css">
    </head>
    <body>
